{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-proposals' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'proposal-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'proposal-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.business_model }}</p>
      <p class="article-content">{{ object.hr_partner }}</p>
      <p class="article-content">{{ object.technology }}</p>
      <p class="article-content">{{ object.partner_user_ecosystem }}</p>
      <p class="article-content">{{ object.community }}</p>
      <p class="article-content">{{ object.roadmap }}</p>
      <p class="article-content">{{ object.competitor }}</p>
      <p class="article-content">{{ object.marketcap }}</p>
      <p class="article-content">{{ object.tokenomics }}</p>
      <p class="article-content">{{ object.fomo }}</p>

      <p class="article-content">{{ object.content|safe }}</p>
            <p class="article-content">topics: {% for keyword in proposal.keywords.all %}
            <a href="{% url 'keyword-detail' keyword.id %}">{{ keyword.name }}</a>
            {% endfor %}</p>
    </div>
  </article>
{% endblock content %}
